.SlotMachine {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SlotMachine-slots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SlotMachine-slot {
  font-size: 36px;
  margin: 0 10px;
}

.SlotMachine-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.SlotMachine-button:hover {
  background-color: #444;
}
